{% extends 'static.home.html.twig' %}

	{% block title %}YOURneeds GmbH Impressum{% endblock %}

  {% block stylesheets %}
      {{ parent() }}
  {% endblock %}

  {% block javascripts %}
      {{ parent() }}
  {% endblock %}

{% block content %}

    {% include 'includes/header.html.twig' %}

    <section>
        <div id="content">
            <div class="horizontally-spacer100">&nbsp;</div>
            <div class="row no-gutters">
                <div class="col">
                    <div class="container mx-auto">
                        <h1 class="title1 title1--space">Impressum</h1>

                        <h2 class="title2 title2--space">Angaben gemäß § 5 TMG:</h2>

                        <p>
                            YOURneeds Versicherungsmakler GmbH<br>
                            Nardinistraße 8<br>
                            76764 Rheinzabern
                        </p>
                        <h3 class="title3 title3--space">Vertreten durch den Geschäftsführer:</h3>

                        <p>
                            Bjarke M.-O. Pahrmann, MBA
                        </p>
                        <h3 class="title3 title3--space">Kontakt:</h3>

                        <p>
                            E-Mail: info@yourneeds.de
                        </p>
                        <h3 class="title3 title3--space">Registereintrag:</h3>

                        <p>
                            Eintragung im Handelsregister.<br>
                            Registergericht: Amtsgericht Landau i.d. Pfalz<br>
                            Registernummer: HRB 32428
                        </p>
                        <h3 class="title3 title3--space">Tätigkeitsart:</h3>

                        <p>
                            §34d Absatz 1 GewO (Versicherungsmakler) Registernummer: D-LGVE-3BNM5-55 siehe
                            www.vermittlerregister.info Deutsche Industrie- und Handelskammertag (DIHK), Breite Str. 29,
                            10178 Berlin, Telefon 0180-6005850, E-Mail: vr@dihk.de (20 Cent/Anruf aus dem dt. Festnetz,
                            max. 60 Cent/Anruf aus Mobilfunknetzen)<br>
                            Aufsichtsbehörde für die Erlaubnis nach §34d GewO: IHK für die Pfalz, Ludwigsplatz 2-4,
                            67059 Ludwigshafen, Tel: 0621/5904-0, Fax: 0621/5904-1214, E-Mail: service@pfalz.ihk24.de,
                            https://www.pfalz.ihk24.de
                        </p>
                        <p>
                            §34f Absatz 1 GewO<br>
                            Verbandsgemeinde Jockgrim, Gewerbeamt, Untere Buchstraße 22, 76751 Jockgrim, Tel:
                            07271-599-0, Fax: (07271) 599-115
                            <br>
                            Email: info@vg-jockgrim.de Homepage: https://www.vg-jockgrim.de/start/
                            <br><br>
                        <ul class="a">
                            <li>§ 34c Gewerbeordnung (GewO)</li>
                            <li>§ 34d Gewerbeordnung (GewO)</li>
                            <li>§§ 59-68Gesetz über den Versicherungsvertrag (VVG)</li>
                            <li>Verordnung über die Versicherungsvermittlung und -beratung (VersVermV)</li>
                        </ul>
                        Die berufsrechtlichen Regelungen können über die vom Bundesministerium der Justiz und von der
                        juris GmbH betriebenen Homepage http://www.gesetze-im-internet.de/ eingesehen und abgerufen
                        werden.
                        </p>

                        <h3 class="title3 title3--space">Vermögensschadenhaftpflicht:</h3>

                        <p>
                            Es besteht die gesetzlich vorgeschriebene Vermögensschadenhaftpflichtversicherung mit
                            Deckung i.H.v. 1,5 Mio Euro bei der ERGO Versicherung AG - VSNR: SV 75045529
                        </p>

                        <h2 class="title3 title3--space">Rechtliche Hinweise</h2>

                        <p>
                        <h3 class="title3 title3--space">Urheberrechte</h3>
                        Inhalt und Struktur unserer Webseiten sind urheberrechtlich geschützt. Alle Rechte sind
                        vorbehalten. Informationen oder Daten (Text, Bild, Grafik, Ton, Video oder
                        Animationsdateien) der YOURneeds Versicherungsmakler GmbH Webseiten dürfen insbesondere
                        nicht ohne vorherige schriftliche Zustimmung der YOURneeds Versicherungsmakler GmbH in
                        irgendeiner Form genutzt oder verwendet werden, auch nicht auszugsweise.
                        </p>
                        <p>
                        <h3 class="title3 title3--space">Marken und Logos</h3>
                        Die auf den YOURneeds Versicherungsmakler GmbH
                        Webseiten verwendeten Marken und Logos sind geschützt. Es ist nicht gestattet, diese Marken
                        ohne vorherige schriftliche Zustimmung der YOURneeds Versicherungsmakler GmbH zu nutzen.
                        </p>
                        <p>
                        <h3 class="title3 title3--space">Hyperlinks und Verweise auf die Websites</h3>
                        Viele Unternehmen der YOURneeds Versicherungsmakler GmbH
                        sind unter eigenem Markennamen tätig und haben eigene Websites im Internet, auf denen sie
                        Informationen über ihre jeweiligen Produkte und Dienstleistungen anbieten.
                        Wenn Sie bestimmte Links im Internetauftritt der YOURneeds Versicherungsmakler GmbH
                        benutzen, verlassen Sie unter Umständen auch die Webseiten in unserem Verantwortungsbereich.
                        Die YOURneeds Versicherungsmakler GmbH übernimmt keine Garantie für die Richtigkeit,
                        Genauigkeit, Zuverlässigkeit und Vollständigkeit von Informationen auf Websites, auf die
                        über Links verwiesen wurde und lehnt ausdrücklich jegliche Haftung für darin enthaltene
                        Fehler oder Auslassungen ab. Ein Hyperlink auf eine andere Website ist lediglich als Hilfe
                        zu verstehen und impliziert nicht, dass die YOURneeds Versicherungsmakler GmbH die Website
                        oder die Produkte oder Dienstleistungen, die dort beschrieben werden, billigt oder für
                        richtig befindet.
                        </p>
                        <p>
                        <h3 class="title3 title3--space">Setzen von Links auf YOURneeds GmbH Webseiten</h3>
                        Ein Link auf die Webseiten der YOURneeds Versicherungsmakler GmbH darf nur dann gesetzt
                        werden, wenn er auf die Homepage www.yourneeds.de zeigt (keine Deeplinks) und wenn dadurch
                        keine Rechte von Unternehmen der YOURneeds Versicherungsmakler GmbH verletzt werden,
                        insbesondere Urheber-, Leistungsschutz- oder Kennzeichenrechte.

                        Sollten Sie bemerken, dass Links von Webseiten der YOURneeds Versicherungsmakler GmbH auf
                        Seiten verweisen, deren Inhalte gegen geltendes Recht verstoßen, benachrichtigen Sie uns
                        bitte sofort. Die Links werden dann umgehend geprüft und ggf. von der Internetseite
                        entfernt.
                        </p>
                    </div>
                    <!--container-->
                </div>
            </div>
        </div>
    </section>

    {% include 'includes/home.footer.menu.html.twig' %}

{% endblock %}