{% extends 'static.home.html.twig' %}

	{% block title %}YOURneeds GmbH Datenschutz{% endblock %}

  {% block stylesheets %}
      {{ parent() }}
  {% endblock %}

  {% block javascripts %}
      {{ parent() }}
  {% endblock %}

{% block content %}

    {% include 'includes/header.html.twig' %}

    <section>

        <div id="content">
            <div class="horizontally-spacer100">&nbsp;</div>
            <div class="row no-gutters">
                <div class="col">
                    <div class="container mx-auto"><!--welcome-->
                        <h1 class="title1 title1--space">Datenschutzerklärung</h1>

                        <p>
                            Wir freuen uns über Ihren Besuch auf unserer Webseite www.yourneeds.de,
                            www.nachhaltigkeit-versicherung.de oder der Applikation „YOURneeds“ und Ihr Interesse an
                            unserem Unternehmen und unseren Angeboten. Für externe Links zu fremden Inhalten übernehmen
                            wir trotz sorgfältiger inhaltlicher Kontrolle keine Haftung, da wir die Übermittlung dieser
                            Information nicht veranlasst, den Adressaten der übermittelten Information und die
                            übermittelten Informationen selbst nicht ausgewählt oder verändert haben.
                            Der Schutz Ihrer personenbezogenen Daten bei der Erhebung, Verarbeitung und Nutzung
                            anlässlich Ihres Besuchs auf unseren Internetseiten ist uns ein wichtiges Anliegen und
                            erfolgt im Rahmen der gesetzlichen Vorschriften, über die Sie sich z.B. unter
                            www.bfd.bund.de informieren können.
                            Im Folgenden erläutern wir Ihnen, welche Informationen wir während Ihres Besuchs auf unseren
                            Webseiten erfassen und wie diese genutzt werden:

                        </p>
                        <h3 class="title2 title2--space">1. Erhebung und Speicherung personenbezogener Daten sowie Art
                            und Zweck von deren Verwendung:</h3>

                        <p>
                            a) Allgemein<br>
                            Sie willigen ein, dass Ihre personenbezogenen Daten, einschließlich Daten der besonderen Art
                            (z.B. Gesundheitsdaten oder ggf. Gewerkschafts- und Parteien-Mitgliedschaft), sofern sie zur
                            Vertragsvermittlung und/oder der Vertragsdurchführung, die zur Erfüllung der Maklertätigkeit
                            notwendig sind, erhoben, verarbeitet und genutzt werden dürfen.
                        </p>

                        <p>
                            Sie sind einverstanden, dass der Makler im Rahmen von Deckungsanfragen, Abschlüssen und
                            Abwicklungen von Versicherungsverträgen Daten an Versicherer, Rückversicherer, Maklerpools,
                            technische Dienstleister (Betreiber von Vergleichssoftware oder Kundenwaltungsprogrammen)
                            oder sonstige Dienstleister übermitteln und empfangen kann. Die Übermittlung und der Empfang
                            der Vertrags- und Leistungsdaten einschließlich Daten der besonderen Art (siehe oben) können
                            dabei zwischen Makler und Versicherer über Maklerpools oder Dienstleister erfolgen. Diese
                            Datenübermittlung führt zu keiner Änderung der Zweckbestimmung.
                        </p>
                        <p>
                            Diese Regelung gilt auch für die Übermittlung von Daten an:
                        <ul class="a">
                            <li>Sozialversicherungsträger</li>
                            <li>Kreditinstitute und Kapitalanlagegesellschaften</li>
                            <li>Bausparkassen</li>
                            <li>Finanzdienstleistungsinstitute und Wertpapierhandelsgesellschaften</li>
                            <li>Untervermittler</li>
                            <li>Rechtsanwälte, Steuerberater, Wirtschaftsprüfer</li>
                            <li>Versicherungs-Ombudsmänner</li>
                            <li>Bundesanstalt für Finanzdienstleistungsaufsicht (BaFin)
                            <li>Rechtsnachfolger</li>
                        </ul>

                        </p>
                        <p>
                            Sollte der Makler seinen Geschäftsbetrieb ganz oder teilweise auf einen anderen Makler
                            übertragen (z. B. im Rahmen der Veräußerung des Geschäftsbetriebes), ist der Kunde damit
                            einverstanden, dass der Makler die Vertrags- und Leistungsdaten des Kunden dem übernehmenden
                            Makler zur Verfügung stellt.
                        </p>
                        <p>
                            Der Makler wird den Kunden vor Weitergabe der Daten informieren sowie Namen und Anschrift
                            des übernehmenden Maklers mitteilen. Der Kunde ist berechtigt, der Datenübermittlung an den
                            übernehmenden Makler zu widersprechen.
                        </p>
                        <p>
                            Oben wurden Maklerpools und Dienstleister angesprochen. Um welche es sich im Einzelnen
                            handelt, kann der Webseite des Maklers oder einem anzufordernden Merkblatt entnommen werden.
                        </p>

                        <p>
                            b) Beim Besuch der Webseite und der Applikation<br>
                            Bei jedem Zugriff eines Kunden (oder sonstigen Besuchers) auf unserer Webseite/Applikation
                            werden durch den auf Ihrem Endgerät (Computer, Laptop, Tablet, Smartphone, etc.) zum Einsatz
                            kommenden Internet-Browser automatisch Informationen an den Server unserer Webseite
                            gesendet. Diese Informationen werden temporär in einem sog. Logfile (Protokolldatei)
                            gespeichert.
                            Folgende Daten werden dabei ohne Ihr Zutun erfasst und bis zur automatisierten Löschung
                            gespeichert:
                        <ul class="a">
                            <li>IP-Adresse des anfragenden Rechners, sowie Geräte-ID oder individuelle Geräte-Kennung
                                und Gerätetyp
                            <li>Name der abgerufenen Datei und übertragene Datenmenge, sowie Datum und Uhrzeit des
                                Abrufs
                            <li>Meldung über erfolgreichen Abruf
                            <li>Anfragende Domain
                            <li>Beschreibung des Typs des verwendeten Internet-Browsers und ggf. des Betriebssystems
                                Ihres Endgeräts sowie der Name Ihres Access-Providers,
                            <li>Ihre Browser-Verlaufsdaten sowie Ihre standardmäßigen Weblog-Informationen
                                Standortdaten, einschließlich Standortdaten von Ihrem Mobilgerät. Bitte beachten Sie,
                                dass Sie bei den meisten Mobilgeräten die Verwendung von Standortservices im
                                Einstellungsmenü des Mobilgeräts steuern oder deaktivieren können
                        </ul>

                        In keinem Fall verwenden wir die erhobenen Daten zu dem Zweck, Rückschlüsse auf Ihre Person zu
                        ziehen.
                        </p>

                        <p>
                            c) Bei Nutzung unseres Kontaktformulars<br>
                            Bei Fragen jeglicher Art bieten wir Ihnen die Möglichkeit, mit uns über ein auf der Webseite
                            bereitgestelltes Formular Kontakt aufzunehmen. Dabei ist mindestens die Angabe einer
                            gültigen E-Mail-Adresse und Ihr Name erforderlich, damit wir wissen, von wem die Anfrage
                            stammt und um diese beantworten zu können. Weitere Angaben können freiwillig getätigt
                            werden.
                            Die Datenverarbeitung zum Zwecke der Kontaktaufnahme mit uns erfolgt gem. Art. 6 Abs. 1 S. 1
                            lit. a DSGVO auf Grundlage Ihrer freiwillig erteilten Einwilligung.
                            Die für die Benutzung des Kontaktformulars von uns erhobenen personenbezogenen Daten werden
                            nach Erledigung der von Ihnen gestellten Anfrage automatisch gelöscht.

                        </p>
                        <p>
                            d) Bei Abschluss eines Vertragsverhältnisses – ergänzend zu a)<br>
                            Bei Abschluss eines Vertragsverhältnisses auf unserer Webseite/Applikation (bspw.
                            Registrierung auf der Webseite/Plattform und Nutzung des Kundenordners oder den Abschluss
                            von Versicherungen) bitten wir Sie um die Angaben folgender personenbezogener Daten:
                        <ul>
                            <li>Daten, die Sie persönlich identifizieren wie Name und E-Mail-Adresse, Anschrift und
                                Telefonnummer
                            </li>
                            <li>Fotos</li>
                            <li>Akademischer Titel</li>
                            <li>Daten, die Ihr Unternehmen identifizieren, wie Firma, Anschrift, Kommunikationsdaten
                                (E-Mail-Adresse, Telefon-, Faxnummer), ggf. USt-ID oder Steuernummer
                            </li>
                            <li>Informationen zu dem SEPA Lastschriftmandat</li>
                            <li>Persönliche Angaben zur Dokumentation der digitalen Beratung</li>
                            <li>Weitere personenbezogene Daten, zu deren Erfassung und Verarbeitung wir gesetzlich
                                verpflichtet oder berechtigt sind und die wir für Ihre Authentifizierung,
                                Identifizierung oder zur Überprüfung der von uns erhobenen Daten benötigen
                            </li>
                        </ul>
                        </p>

                        <p>
                            Die genannten Daten werden zur Abwicklung des Vertragsverhältnisses verarbeitet und – sofern
                            erforderlich – an das das mit der Lieferung beauftragte Transportunternehmen weitergegeben.
                            Die Verarbeitung der Daten erfolgt aufgrund von Art. 6 Abs. 1 lit. b DSGVO. Die
                            Speicherfrist ist auf den Vertragszweck und, sofern vorhanden, gesetzliche und vertragliche
                            Aufbewahrungspflichten beschränkt.
                        </p>

                        <p>
                            e) Bei Anmeldung für unseren Newsletter<br>
                            Sofern Sie nach Art. 6 Abs. 1 S. 1 lit. a DSGVO ausdrücklich eingewilligt haben, verwenden
                            wir Ihre E-Mail-Adresse dafür, Ihnen regelmäßig unseren Newsletter zu übersenden. Die
                            Abmeldung ist jederzeit möglich, zum Beispiel über einen Link am Ende eines Newsletters.
                            Alternativ können Sie Ihren Abmeldewunsch gerne auch jederzeit an info@yourneeds.de per
                            E-Mail (am besten mit dem Betreff: „Abmeldung Newsletter“) senden.

                        </p>
                        <h2 class="title2 title2--space">2. Weitergabe von personenbezogenen Daten</h2>

                        <p>
                            Eine Übermittlung Ihrer Daten an Dritte zu anderen als den im Folgenden aufgeführten Zwecken
                            findet nicht statt.
                            <br>
                            Wir geben Ihre Daten nur an Dritte weiter, wenn:

                        <ul class="a">
                            <li>Sie eine ausdrückliche Einwilligung dazu erteilt haben nach (Art. 6 Abs. 1 S. 1 lit. a
                                DSGVO),
                            </li>
                            <li>dies für die Abwicklung von Vertragsverhältnissen mit Ihnen erforderlich ist (Art. 6
                                Abs. 1 lit. b DSGVO),
                            </li>
                            <li>eine gesetzliche Verpflichtung zur Weitergabe besteht (Art.6 Abs.1 lit. c DSGVO),
                            <li>die Weitergabe zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen
                                erforderlich ist und kein Grund zur Annahme besteht, dass Sie ein überwiegendes
                                schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben (Art. 6 Abs. 1 S. 1
                                lit. f DSGVO).
                            </li>
                        </ul>
                        <p>
                            In diesen Fällen beschränkt sich der Umfang der übermittelten Daten jedoch nur auf das
                            erforderliche Minimum.
                            Unsere Datenschutzbestimmungen stehen im Einklang mit den geltenden datenschutzrechtlichen
                            Bestimmungen und die Daten werden nur in der Bundesrepublik Deutschland verarbeitet. Eine
                            Übermittlung in Drittländer findet nicht statt und ist nicht beabsichtigt.

                        </p>
                        <h3 class="title3 title3--space">2.1. Sichere Datenübertragung</h3>

                        <p>
                            Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden wir ein dem
                            aktuellen Stand der Technik entsprechendes Verschlüsselungsverfahren (SSL) über HTTPS.
                        </p>
                        <h4 class="title3 title3--space">2.2. Dienstleisterliste:</h4>

                        <p>
                            Webserveranbieter: Hetzner Online GmbH, Industriestr. 25, 91710 Gunzenhausen
                        </p>
                        <p>
                            Vergleichsrechner: Mr-Money Software, Dirk Natschke, Schillerstraße 3, 09366 Stollberg
                        </p>

                        <h2 class="title2 title2--space">3. Betroffenenrechte</h2>

                        <p>
                            Die DSGVO räumt den Nutzern (den sogenannten Betroffenen) verschiedene, teils neue, Rechte
                            ein. Diese müssen sämtlich, nebst der Rechtsgrundlage aufgeführt werden, weshalb dieser
                            Punkt etwas länger ausfällt. Bitte lesen Sie die Rechte sorgfältig durch! Der Betroffene hat
                            u.a. das Recht, jederzeit Auskunft darüber zu verlangen, ob und welche Daten zu welchem
                            Zweck verarbeitet und an wen auf welcher Grundlage sie weitergegeben werden. Das Beinhaltet
                            auch das Recht des Betroffenen auf Aushändigung von Kopien. Ausnahme: Bei großem
                            Datenbestand (z.B. soziales Netzwerk) dürfen Nutzer gebeten werden, die Auskunft auf
                            bestimmte Datenarten zu konkretisieren. Die Auskunft muss unverzüglich erfolgen und darf in
                            keinem Fall länger als 1 Monat dauern.
                            Auf Anfrage werden wir Sie gern informieren, ob und welche personenbezogenen Daten zu Ihrer
                            Person gespeichert sind (Art. 15 DSGVO), insbesondere über die Verarbeitungszwecke, die
                            Kategorie der personenbezogenen Daten, die Kategorien von Empfängern, gegenüber denen Ihre
                            Daten offengelegt wurden oder werden, die geplante Speicherdauer, das Bestehen eines Rechts
                            auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder Widerspruch, das Bestehen
                            eines Beschwerderechts, die Herkunft ihrer Daten, sofern diese nicht bei uns erhoben wurden,
                            sowie über das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling.
                            Ihnen steht zudem das Recht zu, etwaig unrichtig erhobene personenbezogene Daten berichtigen
                            oder unvollständig erhobene Daten vervollständigen zu lassen (Art. 16 DSGVO).

                        </p>
                        <p>
                            Ferner haben Sie das Recht, von uns die Einschränkung der Verarbeitung Ihrer Daten zu
                            verlangen, sofern die gesetzlichen Voraussetzungen hierfür vorliegen (Art. 18 DSGVO).
                            Sie haben das Recht, die Sie betreffenden personenbezogenen Daten in einem strukturierten,
                            gängigen und maschinenlesbaren Format zu erhalten oder die Übermittlung an einen anderen
                            Verantwortlichen zu verlangen (Art. 20 DSGVO).
                        </p>
                        <p>
                            Darüber hinaus steht Ihnen das sogenannte „Recht auf Vergessenwerden“ zu, d.h. Sie können
                            von uns die Löschung Ihrer personenbezogenen Daten verlangen, sofern hierfür die
                            gesetzlichen Voraussetzungen vorliegen (Art. 17 DSGVO).
                        </p>
                        <p>
                            Unabhängig davon werden Ihre personenbezogenen Daten automatisch von uns gelöscht, wenn der
                            Zweck der Datenerhebung weggefallen oder die Datenverarbeitung unrechtmäßig erfolgt ist.
                        </p>
                        <p>
                            Gemäß Art. 7 Abs. 3 DSGVO haben Sie das Recht Ihre einmal erteilte Einwilligung jederzeit
                            gegenüber uns zu widerrufen. Dies hat zur Folge, dass wir die Datenverarbeitung, die auf
                            dieser Einwilligung beruhte, für die Zukunft nicht mehr fortführen dürfen.
                            Sie haben zudem das Recht, jederzeit gegen die Verarbeitung Ihrer personenbezogenen Daten
                            Widerspruch zu erheben, sofern ein Widerspruchsrecht gesetzlich vorgesehen ist. Im Falle
                            eines wirksamen Widerrufs werden Ihre personenbezogenen Daten ebenfalls automatisch durch
                            uns gelöscht (Art. 21 DSGVO).
                            Möchten Sie von Ihrem Widerrufs- oder Widerspruchsrecht Gebrauch machen, genügt eine E-Mail
                            an: info@yourneeds.de
                            Bei Verstößen gegen die datenschutzrechtlichen Vorschriften haben Sie gem. Art. 77 DSGVO die
                            Möglichkeit, Beschwerde entweder bei der jeweils zuständigen oder auch bei jeder anderen
                            Aufsichtsbehörde bzw. beim jeweiligen Landesbeauftragten für Datenschutz zu erheben.
                        </p>


                        <h2 class="title2 title2--space">4. Dauer der Datenspeicherung</h2>

                        <p>
                            Die erhobenen Daten werden solange bei uns gespeichert, wie dies für die Durchführung der
                            mit uns eingegangen Verträge erforderlich ist oder Sie Ihr Recht auf Löschung oder Ihr Recht
                            auf Datenübertragung auf ein anderes Unternehmen nicht ausgeübt haben.
                        </p>

                        <h2 class="title2 title2--space">5. Cookies</h2>

                        <p>
                            Wir setzen auf unserer Webseite Cookies ein. Hierbei handelt es sich um kleine Text-Dateien,
                            die Ihr Browser automatisch erstellt und die auf Ihrem Endgerät gespeichert werden, wenn Sie
                            unsere Webseite besuchen.
                            In dem Cookie werden Informationen abgelegt, die sich jeweils im Zusammenhang mit dem
                            spezifisch eingesetzten Endgerät ergeben. Dies bedeutet jedoch nicht, dass wir unmittelbar
                            Kenntnis von Ihrer Identität erhalten.
                            Der Einsatz von Cookies dient zunächst dazu, die Nutzung unseres Angebots für Sie angenehmer
                            zu gestalten: So setzen wir sog. Session-Cookies ein, um zu erkennen, dass Sie einzelne
                            Unterseiten unserer Webseite bereits besucht haben und sofern, Sie sich registriert haben,
                            wird ihr Kennwort während des Dauer Ihres Besuchs auf unserer Webseite und des Wechseln von
                            Unterseiten gespeichert, so dass Sie es nicht jedes Mal neu eingeben müssen oder von Ihnen
                            im Warenkorb abgelegte Waren werden gespeichert, bis Sie „zur Kasse gehen“. Diese
                            Session-Cookies werden nach Verlassen unserer Webseite automatisch gelöscht. Darüber hinaus
                            setzen wir ebenfalls zur Optimierung der Benutzerfreundlichkeit temporäre Cookies ein, die
                            für einen bestimmten festgelegten Zeitraum auf Ihrem Endgerät gespeichert werden. Besuchen
                            Sie unsere Seite erneut, um unsere Dienste in Anspruch zu nehmen, wird automatisch erkannt,
                            dass Sie bereits bei uns waren und welche Eingaben und Einstellungen Sie getätigt haben, um
                            diese nicht noch einmal eingeben zu müssen.
                            Zum anderen setzen wir Cookies ein, um die Nutzung unserer Webseite statistisch zu erfassen
                            und auszuwerten und unseres Angebots für Sie zu optimieren. Diese Cookies ermöglichen es
                            uns, bei einem erneuten Besuch unserer Webseite automatisch zu erkennen, dass Sie bereits
                            bei uns waren. Diese Cookies werden nach einer jeweils definierten Zeit automatisch
                            gelöscht.
                            Die durch Cookies verarbeiteten Daten sind für die genannten Zwecke zur Wahrung unserer
                            berechtigten Interessen sowie der Dritter nach Art. 6 Abs. 1 S. 1 lit. f DSGVO erforderlich.
                            Die meisten Browser akzeptieren Cookies automatisch. Wenn Sie es nicht wünschen, dass wir
                            Informationen über Ihren Computer wiedererkennen, stellen Sie Ihren Internetbrowser bitte so
                            ein, dass er Cookies von Ihrer Computerfestplatte löscht, alle Cookies blockiert oder Sie
                            warnt, bevor ein Cookie gespeichert wird. Wie Sie Cookies löschen oder blockieren können,
                            erfahren Sie im Hilfe- und Support-Bereich Ihres Internet-Browsers. Dort finden Sie
                            Anweisungen zur Suche der Datei oder des Verzeichnisses, in dem Cookies gespeichert werden.
                            Bitte beachten Sie in jedem Fall, dass die vollständige Deaktivierung von Cookies dazu
                            führen kann, dass Sie nicht alle Funktionen unserer Webseite nutzen können.
                            Wenn Sie über einen Link oder das Anklicken eventueller Bannerwerbung unsere Webseite
                            verlassen und so auf fremde Seiten gelangen, kann es sein, dass auch vom Adressaten der
                            angeklickten Zielseite Cookies gesetzt werden. Für diese Cookies sind wir rechtlich nicht
                            verantwortlich. Zu der Benutzung solcher Cookies und der darauf gespeicherten Informationen
                            durch unsere Werbepartner vergleichen Sie bitte deren Datenschutzerklärungen.
                            Bei der Bereitstellung unseres Internetangebots werden Java-Applets und Java-Script
                            verwendet. Falls Sie sich aus Sicherheitsgründen diese Hilfsprogramme bzw. aktiven Inhalte
                            nicht nutzbar machen wollen, sollten Sie die entsprechende Einstellung Ihres Browsers
                            deaktivieren.
                        </p>
                        <h2 class="title2 title2--space">6. Online-Marketing/ Analyse-Tools</h2>

                        <p>
                            Die im Folgenden aufgeführten und von uns eingesetzten Tracking-Maßnahmen werden auf
                            Grundlage des Art. 6 Abs. 1 S. 1 lit. f DSGVO, § 15 Abs. 3 TMG durchgeführt. Mit den zum
                            Einsatz kommenden Tracking-Maßnahmen wollen wir eine bedarfsgerechte Gestaltung und die
                            fortlaufende Optimierung unserer Webseite sicherstellen. Zum anderen setzen wir die
                            Tracking-Maßnahmen ein, um die Nutzung unserer Webseite statistisch zu erfassen und zum
                            Zwecke der Optimierung unseres Angebotes für Sie auszuwerten. Diese Interessen sind als
                            berechtigt im Sinne der vorgenannten Vorschrift anzusehen.
                        </p>
                        <p>
                            a) Google Analytics<br>
                            Zum Zwecke der bedarfsgerechten Gestaltung und fortlaufenden Optimierung unserer Webseiten
                            nutzen wir Google Analytics, einen Webanalysedienst der Google Inc.
                            (https://www.google.de/intl/de/about/) (1600 Amphitheatre Parkway, Mountain View, CA 94043,
                            USA; im Folgenden „Google“). In diesem Zusammenhang werden pseudonymisierte Nutzungsprofile
                            erstellt und Cookies (siehe auch oben) gesetzt. Die durch den Cookie erzeugten Informationen
                            über Ihre Benutzung dieser Webseite, wie Browser-Typ/-Version, verwendetes Betriebssystem,
                            Referrer-URL (die zuvor besuchte Seite), Hostname des zugreifenden Rechners (IP-Adresse) und
                            die Uhrzeit der Serveranfrage werden an einen Server von Google in den USA übertragen und
                            dort gespeichert. Die Informationen werden verwendet, um die Nutzung der Webseite
                            auszuwerten, um Reports über die Webseitenaktivitäten zusammenzustellen und um weitere mit
                            der Webseitennutzung und der Internetnutzung verbundene Dienstleistungen zu Zwecken der
                            Marktforschung und bedarfsgerechten Gestaltung dieser Webseiten zu erbringen. In diesen
                            Zwecken liegt auch unser berechtigtes Interesse an der Datenverarbeitung. Die
                            Rechtsgrundlage für den Einsatz von Google Analytics ist § 15 Abs. 3 TMG in Verbindung mit
                            Art. 6 Abs. 1 lit. f DSGVO.
                            Auch werden diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich
                            vorgeschrieben ist oder soweit Dritte diese Daten im Auftrag verarbeiten. Es wird in keinem
                            Fall Ihre IP-Adresse mit anderen Daten von Google zusammengeführt. Die IP-Adressen werden
                            anonymisiert, so dass eine Zuordnung nicht möglich ist (sogenanntes IP-Masking).
                            Die von uns gesendeten und mit Cookies, Nutzerkennungen (z. B. User-ID) oder Werbe-IDs
                            verknüpften Daten werden nach 14 Monaten automatisch gelöscht. Die Löschung von Daten, deren
                            Aufbewahrungsdauer erreicht ist, erfolgt automatisch einmal im Monat.
                            Nähere Informationen zu Nutzungsbedingungen und Datenschutz von Google Analytics finden Sie
                            unter http://www.google.com/analytics/terms/de.html bzw. unter
                            http://www.google.com/intl/de/analytics/privacyoverview.html.
                            Sie können die Installation und Speicherung von Cookies durch eine entsprechende Einstellung
                            Ihrer Browser-Software verhindern; wir weisen jedoch darauf hin, dass Sie in diesem Fall
                            gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen
                            können.
                            Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung
                            der Webseite bezogenen Daten (inkl. Ihrer IP-Adresse) sowie die Verarbeitung dieser Daten
                            durch Google verhindern, indem Sie indem sie das unter dem folgenden Link verfügbare
                            Browser-Plugin herunterladen und installieren
                            https://tools.google.com/dlpage/gaoptout?hl=de.
                            Alternativ zum Browser-Add-on, insbesondere bei Browsern auf mobilen Endgeräten, können Sie
                            die Erfassung durch Google Analytics zudem verhindern, indem Sie auf folgenden Link klicken.
                            Es wird ein Opt-Out-Cookie gesetzt, der die zukünftige Erfassung Ihrer Daten beim Besuch
                            dieser Website verhindert: Google Analytics deaktivieren. Der Opt-out-Cookie gilt nur in
                            diesem Browser und nur für unsere Webseite und wird auf Ihrem Gerät abgelegt. Löschen Sie
                            die Cookies in diesem Browser, müssen Sie das Opt-out-Cookie erneut setzen.
                        </p>
                        <p>
                            b) Google Adwords / Conversion Tracking<br>
                            Wir nutzen zudem das Online-Werbeprogramm „Google AdWords“ im Rahmen von Google AdWords das
                            Conversion-Tracking. Das Google Conversion Tracking ist ein von Google zur Verfügung
                            gestellter Analysedienst.
                            Wenn Sie auf eine von Google geschaltete Anzeige klicken, wird ein Cookie für das
                            Conversion-Tracking auf Ihrem Endgerät abgelegt. Diese Cookies verlieren nach 30 Tagen ihre
                            Gültigkeit, enthalten keine personenbezogenen Daten und dienen somit nicht der persönlichen
                            Identifizierung.
                            Wenn Sie bestimmte Internetseiten unserer Webseite besuchen und das Cookie noch nicht
                            abgelaufen ist, können Google und wir erkennen, dass Sie auf die Anzeige geklickt haben und
                            zu dieser Seite weitergeleitet wurden. Jeder Google AdWords-Kunde erhält ein anderes Cookie.
                            Somit besteht keine Möglichkeit, dass Cookies über Webseiten von AdWords-Kunden nachverfolgt
                            werden können.
                            Die Informationen, die mithilfe des Conversion-Cookie eingeholten werden, dienen dazu,
                            Conversion-Statistiken für AdWords-Kunden zu erstellen, die sich für Conversion-Tracking
                            entschieden haben. Hierbei erfahren die Kunden die Gesamtanzahl der Nutzer, die auf ihre
                            Anzeige geklickt haben und zu einer mit einem Conversion-Tracking-Tag versehenen Seite
                            weitergeleitet wurden. Sie erhalten jedoch keine Informationen, mit denen sich Nutzer
                            persönlich identifizieren lassen. In diesen Zwecken liegt auch unser berechtigtes Interesse
                            an der Datenverarbeitung. Die Rechtsgrundlage für den Einsatz von Google Adwords/ Conversion
                            Tracking ist § 15 Abs. 3 TMG in Verbindung mit Art. 6 Abs. 1 lit. f DSGVO.
                            Wenn Sie nicht am Tracking teilnehmen möchten, können Sie dieser Nutzung widersprechen,
                            indem Sie die Installation der Cookies von der Domain „googleadservices.com“ durch eine
                            entsprechende Einstellung Ihrer Browser Software verhindern (Deaktivierungsmöglichkeit). Sie
                            werden sodann nicht in die Conversion-Tracking Statistiken aufgenommen. Weiterführende
                            Informationen sowie die Datenschutzerklärung von Google finden Sie unter:
                            http://www.google.com/policies/technologies/ads/ , http://www.google.de/policies/privacy/.
                        </p>
                        <p>
                            c) Google Adsense<br>
                            Diese Website benutzt Google AdSense, einen Dienst zum Einbinden von Werbeanzeigen der
                            Google Inc. („Google“). Google AdSense verwendet sog. „Cookies“, Textdateien, die auf Ihrem
                            Computer gespeichert werden und die eine Analyse der Benutzung der Website ermöglicht.
                            Google AdSense verwendet auch so genannte Web Beacons (unsichtbare Grafiken). Durch diese
                            Web Beacons können Informationen wie der Besucherverkehr auf diesen Seiten ausgewertet
                            werden.
                            Die durch Cookies und Web Beacons erzeugten Informationen über die Benutzung dieser Website
                            (einschließlich Ihrer IP-Adresse) und Auslieferung von Werbeformaten werden an einen Server
                            von Google in den USA übertragen und dort gespeichert. Diese Informationen können von Google
                            an Vertragspartner von Google weiter gegeben werden. Google wird Ihre IP-Adresse jedoch
                            nicht mit anderen von Ihnen gespeicherten Daten zusammenführen.
                            Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser
                            Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall
                            gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können.
                            Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie
                            erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor
                            benannten Zweck einverstanden.

                        </p>
                        <p>
                            d) Google Remarketing<br>
                            Diese Webseite benutzt Google Remarketing, einen Werbedienst der Google Inc. („Google“).
                            Drittanbieter, einschließlich Google, schalten Anzeigen auf Websites im Internet.
                            Drittanbieter, einschließlich Google, verwenden Cookies zum Schalten von Anzeigen auf
                            Grundlage vorheriger Besuche eines Nutzers auf dieser Website. Nutzer können die Verwendung
                            von Cookies durch Google deaktivieren, indem sie die Seite zur Deaktivierung von
                            Google-Werbung aufrufen http://www.google.com/privacy_ads.html. Alternativ können Nutzer die
                            Verwendung von Cookies durch Drittanbieter deaktivieren, indem sie die Deaktivierungsseite
                            der Netzwerkwerbeinitiative aufrufen.<br>
                            <br>
                            http://www.networkadvertising.org/managing/opt_out.asp
                        </p>

                        <p>
                            e) DoubleClick Floodlight-Cookie von Google<br>
                            DoubleClick ist eine Dienstleistung der Google Inc., 1600 Amphitheatre Parkway, Mountain
                            View, CA 94043, USA (nachfolgend "Google" genannt). DoubleClick setzt Cookies (so genannte
                            "Floodlights") ein, um Ihnen besser und genauer relevante Werbeanzeigen präsentieren zu
                            können. Häufig werden die Cookies dazu verwendet, um für Sie relevante Werbeanzeigen zu
                            schalten, um Berichte zur Kampagnenleistung zu verbessern oder um zu vermeiden, dass Sie die
                            gleiche Anzeige mehrmals sehen. DoubleClick ordnet Ihrem Browser dazu eine pseudonyme
                            Identifikationsnummer (ID) zu. Diese Cookie-ID wird u.a. dazu verwendet, dass DoubleClick
                            beispielsweise erfasst, welche Anzeigen in welchem Browser geschaltet werden sollen. Wenn
                            eine Anzeige in einem Browser geschaltet werden soll, kann DoubleClick dann anhand der
                            Cookie-ID des Browsers überprüfen, welche DoubleClick-Anzeigen in diesem speziellen Browser
                            bereits erschienen sind. So wird in DoubleClick vermieden, dass Anzeigen geschaltet werden,
                            die der Nutzer bereits gesehen hat. Ebenso kann DoubleClick mithilfe von Cookie-IDs
                            Conversions erfassen, die einen Bezug zu den Werbeanzeigenanfragen haben. Das ist etwa dann
                            der Fall, wenn Sie eine DoubleClick-Werbeanzeige von YOURneeds GmbH sehen und später mit
                            demselben Browser unsere Webseite aufrufen und dort Aktionen durchführen.
                            DoubleClick Floodlight-Cookies enthalten keine personenbezogenen Daten. Die durch die
                            Cookies erzeugten Informationen werden von Google zur Auswertung an einen Server in den USA
                            übertragen und dort gespeichert. Eine Übertragung der Daten durch Google an Dritte findet
                            nur aufgrund gesetzlicher Vorschriften statt. Sollten Sie über ein Google-Konto verfügen,
                            können mit Ihrer Berechtigung die mit dem DoubleClick-Cookie verknüpften Informationen Ihrem
                            Google-Konto hinzugefügt werden.
                            <br><br>
                            Weiter Informationen zu dem Thema DoubleClick Floodlight-Cookie können Sie hier nachlesen:
                            <a href="https://support.google.com/ds/answer/2839090?hl=de">https://support.google.com/ds/answer/2839090?hl=de</a>

                            Durch die Nutzung unserer Webseiten erklären Sie sich mit der Bearbeitung der über Sie
                            erhobenen Daten durch Google und der zuvor beschriebenen Art und Weise der Datenverarbeitung
                            sowie dem benannten Zweck einverstanden. Selbstverständlich können Sie die Erfassung und
                            Verarbeitung der über Sie erhobenen Daten durch Google jederzeit mit Wirkung für die Zukunft
                            verhindern, indem Sie die Verwendung der sogenannten DoubleClick DART-Cookies widersprechen.
                            Wie Sie dem Widersprechen können, hat DoubleClick auf den folgenden Seiten zusammengestellt:
                            <br><br>
                            <a href="https://www.google.com/settings/ads">https://www.google.com/settings/ads</a> oder
                            <a href="https://www.google.com/ads/preferences">https://www.google.com/ads/preferences</a>
                            <br><br>
                            Alternativ können Sie auch die folgende Webseite besuchen und dort sämtliche Widersprüche
                            auch für andere Trackingtechnologien zentral einstellen:
                            <a href="http://www.youronlinechoices.com/de/praferenzmanagement">http://www.youronlinechoices.com/de/praferenzmanagement</a>
                            <br><br>
                            Bitte beachten Sie, dass Sie dieses Verfahren für jeden verwendeten Browser einzeln
                            durchführen müssen und immer dann wiederholen müssen, wenn Sie aktiv Ihre Cookies
                            gelöscht
                            haben.
                        </p>

                        <h2 class="title2 title2--space">7. Social Media Plugins</h2>

                        <p>
                            Wir setzen auf unserer Webseite Social Media Plugins der im Folgenden aufgeführten sozialen
                            Netzwerke.
                            Optional für Shariff-Lösung: Hierbei nutzen wir die sogenannte Shariff-Lösung, die lediglich
                            aus der Verlinkung der entsprechenden sozialen Netzwerke besteht, sodass eine Verbindung
                            erst entsteht, sofern Sie auf den Button klicken. Nach Anklicken des Buttons und der
                            Weiterleitung auf die Webseite des sozialen Netzwerkes liegt die Informationspflicht nicht
                            mehr bei uns, sondern bei dem Betreiber des sozialen Netzwerkes.

                        </p>
                        <p>
                            a) Google Plus<br>
                            Unsere Webseite verwendet die von Google zur Verfügung gestellte „G+1“-Schaltfläche des
                            sozialen Netzwerks Google+. Das Google+ Plugin erkennen Sie an dem Zeichen „Google+“ oder
                            dem Zusatz „G+1“. Beim Anklicken des Plugins wird eine Verbindung zu den Servern von Google
                            Plus erstellt. Der Inhalt des Plugins wird von Google direkt an Ihren Browser übermittelt
                            und von diesem in die Webseite eingebunden. Hierdurch wird die Information, dass Sie unsere
                            Webseite besucht haben, an Google+ weitergeleitet.
                            Wir weisen darauf hin, dass wir als Anbieter unserer Webseite keine Kenntnis vom Inhalt der
                            übermittelten Daten sowie deren Nutzung durch Google+ haben. Laut Google werden ohne einen
                            Klick auf das Plugin keine personenbezogenen Daten erhoben. Während Sie im Google+ Account
                            eingeloggt sind, werden Daten, unter anderem die IP-Adresse, erhoben und verarbeitet. Wenn
                            Sie eine solche Datenübermittlung verhindern möchten, müssen Sie sich vor dem Besuch unserer
                            Webseite in Ihrem Google+ Account ausloggen.
                            Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch
                            Google+ sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer
                            Privatsphäre entnehmen Sie bitte den Datenschutzhinweisen von Google und Google+:
                            https://developers.google.com/+/web/buttons-policy.
                        </p>
                        <p>
                            b) Facebook<br>
                            Auf unserer Webseite werden Social Plugins (“Plugins”) des sozialen Netzwerkes facebook.com
                            verwendet, welches von der Facebook Inc., 1 Hacker Way, Menlo Park, California 94025, USA
                            betrieben wird (“Facebook”). Wenn Sie unsere Webseite mit dem Plugin öffnen, stellt diese
                            über Ihren Browser eine direkte Verbindung mit den Servern von Facebook her. Hierdurch wird
                            an Facebook die Information übertragen, dass Sie die Seite aufgerufen haben.
                            Sollten Sie mit Ihrem Facebook-Account eingeloggt sein, kann durch das Anklicken des Plugins
                            der Besuch unserer Webseite direkt ihrem Profil zugeordnet werden. Auch wenn sie kein Profil
                            besitzen, kann nicht ausgeschlossen werden, dass Ihre IP‑Adresse von Facebook gespeichert
                            wird.
                            Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch
                            Facebook sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer
                            Privatsphäre entnehmen Sie bitte den Datenschutzhinweisen
                            (https://www.facebook.com/about/privacy/) von Facebook.
                            Wenn Sie Mitglied bei Facebook sind und nicht möchten, dass Facebook über unser
                            Onlineangebot Daten über Sie sammelt und mit Ihren, bei Facebook gespeicherten
                            Mitgliedsdaten verknüpft, müssen Sie sich vor dem Besuch unser Webseite bei Facebook
                            ausloggen und entsprechende Facebook-Cookies löschen. Ebenfalls ist es möglich
                            Facebook-Social-Plugins mit Add-ons für den Browser zu blocken, zum Beispiel mit dem
                            “Facebook Blocker”.
                        </p>

                        <p>
                            c) Twitter<br>
                            Auf unserer Webseite sind zudem Funktionen des Dienstes Twitter eingebunden. Diese
                            Funktionen werden angeboten durch die Twitter Inc., Twitter, Inc. 1355 Market St, Suite 900,
                            San Francisco, CA 94103, USA. Durch das Benutzen von Twitter und der Funktion “Re-Tweet”
                            werden die von Ihnen besuchten Webseiten mit Ihrem Twitter-Account verknüpft und anderen
                            Nutzern bekannt gegeben. Dabei werden auch Daten an Twitter übertragen.
                            Wir weisen darauf hin, dass wir als Anbieter unserer Webseite keine Kenntnis vom Inhalt der
                            übermittelten Daten sowie deren Nutzung durch Twitter erhalten. Weitere Informationen hierzu
                            finden Sie in der Datenschutzerklärung von Twitter unter http://twitter.com/privacy. Ihre
                            Datenschutzeinstellungen bei Twitter können Sie in den Konto-Einstellungen unter
                            http://twitter.com/account/settings ändern.
                            Um zu verhindern, dass Twitter die Daten beim Besuch unserer Internetseite sammelt, loggen
                            Sie sich vor dem Besuch bei Twitter aus. Um einen generellen Zugriff von Twitter auf Ihre
                            Daten über Internetseiten zu verhindern, können Sie Twitter Social-Plugins durch ein Add-On
                            für Ihren Browser (z. B. „Twitter-Blocker“, https://disconnect.me) ausschließen.

                        </p>
                        <p>
                            d) Instagram<br>
                            Auf unserer Webseite sind Plugins des sozialen Netzwerks Instagram (Instagram Inc., 1601
                            Willow Road, Menlo Park, CA, 94025, USA) integriert. Das Instagram Plugin erkennen Sie an
                            dem “Instagram-Button” auf unserer Webseite. Wenn Sie den Instagram-Button anklicken während
                            Sie im Instagram-Account eingeloggt sind, können Sie die Inhalte unserer Webseiten auf Ihrem
                            Instagram-Profil verlinken. Dadurch kann Instagram den Besuch unserer Seiten Ihrem
                            Benutzerkonto zuordnen.
                            Wir weisen darauf hin, dass wir als Anbieter unserer Webseite keine Kenntnis vom Inhalt der
                            übermittelten Daten sowie deren Nutzung durch Instagram erhalten. Weitere Informationen zur
                            Datenschutzerklärung von Instagram erhalten Sie unter
                            http://instagram.com/about/legal/privacy/.
                        </p>
                        <p>
                            e) Pinterest<br>
                            Auf unserer Webseite sind Plugins des sozialen Netzwerks von Pinterest (Pinterest Inc., 808
                            Brannan Street San Francisco, CA 94103-490, USA) integriert. Beim Anklicken des „Pin it“
                            Button wird eine Verbindung zu den Servern von Pinterest erstellt. Das Plugin übermittelt
                            dabei Protokolldaten an den Server von Pinterest in die USA. Diese Protokolldaten enthalten
                            möglicherweise Ihre IP-Adresse, die Adresse der besuchten Websites, die ebenfalls
                            Pinterest-Funktionen enthalten, Art und Einstellungen des Browsers, Datum und Zeitpunkt der
                            Anfrage, Ihre Verwendungsweise von Pinterest sowie Cookies.
                            Sollten Sie mit Ihrem Pinterest-Account eingeloggt sein, kann durch das Anklicken des „Pin
                            it“ Buttons der Besuch unserer Webseite direkt mit ihrem Profil zugeordnet werden. Auch wenn
                            sie kein Profil besitzen, kann nicht ausgeschlossen werden, dass Ihre IP-Adresse von
                            Pinterest gespeichert wird. Dadurch kann Pinterest den Besuch dieser Seiten Ihrem
                            Benutzerkonto zuordnen. Um zu verhindern, dass Pinterest die Daten beim Besuch unserer
                            Webseite sammelt, müssen Sie sich vor dem Klick auf den „Pin it“-Button von Ihrem
                            Pinterest-Account abmelden.
                            Weitere Informationen, unter anderem zu den Einstellungsmöglichkeiten zum Schutz Ihrer
                            Privatsphäre entnehmen Sie bitte den Datenschutzhinweisen von Pinterest:
                            https://about.pinterest.com/de/privacy-policy.
                        </p>

                        <h2 class="title2 title2--space">8. Datensicherheit</h2>

                        <p>
                            Wir sind um alle notwendigen technischen und organisatorischen Sicherheitsmaßnahmen bemüht,
                            um Ihre personenbezogenen Daten so zu speichern, dass sie weder Dritten noch der
                            Öffentlichkeit zugänglich sind. Sollten Sie mit uns per E-Mail in Kontakt treten wollen, so
                            weisen wir Sie darauf hin, dass bei diesem Kommunikationsweg die Vertraulichkeit der
                            übermittelten Informationen nicht vollständig gewährleistet werden kann. Wir empfehlen Ihnen
                            daher, uns vertrauliche Informationen ausschließlich über den Postweg zukommen zu lassen.
                        </p>

                        <h2 class="title2 title2--space">9. Aktualität und Änderung dieser Datenschutzerklärung</h2>

                        <p>
                            Diese Datenschutzerklärung ist aktuell gültig und hat den Stand Juni 2018. Durch die
                            Weiterentwicklung unserer Webseite und Angebote darüber oder aufgrund geänderter
                            gesetzlicher beziehungsweise behördlicher Vorgaben kann es notwendig werden, diese
                            Datenschutzerklärung zu ändern. Die jeweils aktuelle Datenschutzerklärung kann jederzeit auf
                            der Webseite unter www.yourneeds.de und www.nachhaltigkeit-versicherung.de von Ihnen
                            abgerufen und ausgedruckt werden.
                        </p>

                        <h2 class="title2 title2--space">10. Name und Kontaktdaten des für die Verarbeitung
                            Verantwortlichen sowie des Datenschutzbeauftragten</h2>

                        <p>
                            Diese Datenschutz-Information gilt für die Datenverarbeitung durch:
                        </p>
                        <p>
                            Verantwortlicher:
                        </p>
                        <p>
                            YOURneeds Versicherungsmakler GmbH<br>
                            Nardinistraße 8<br>
                            76764 Rheinzabern
                        </p>
                        <p>
                            Geschäftsführer: Bjarke M.-O. Pahrmann, MBA
                        </p>
                        <p>
                            Mail: datenschutz@yourneeds.de
                        </p>
                        <p>
                            Eintragung im Handelsregister. Registergericht: Amtsgericht Landau i.d. Pfalz;
                            Registernummer: HRB 32428
                        </p>

                    </div>
                    <!--container-->
                </div>
            </div>
        </div>
    </section>

    {% include 'includes/home.footer.menu.html.twig' %}

{% endblock %}