/* YOURneeds home module */

@import "../scss/variables";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";

header {
    .logo {
        width: 250px;
    }
}

section {
    @include media-breakpoint-up(sm) {
        padding-top: ($yn-unit-1600);
        padding-bottom: ($yn-unit-1600);
    }    
}

footer {
    .logo {
        width: 150px;
    }
}

.image-half {
    position: relative;
    @include media-breakpoint-up(lg) {
        height: 100%;
    }    
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &__container {
        @include transition();
        position: absolute; 
        top: 0; 
        height: 100%; 
        width: 100%;
        vertical-align: middle;
        background-color: transparentize($yn-color-black, .5);
        
        &:hover {
            background-color: transparent;
        }
    }
    
    &__position {
        display: flex;
        align-items: center;
        height: 100%; 
    }
    
    &__text {
        @include shadow-text();
        margin: $yn-unit auto;
        width: 80%;
        max-width: 600px;
        text-align: center;
    }

    &__headline {
        @include media-breakpoint-up(sm) {
            @include title2();
        }    
        @include media-breakpoint-up(lg) {
            @include title1();
        }    
        font-weight: bolder;
    }
}

.full-width {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.full-height {
    height: 100%;
    
    &#{&}--image {
        padding-top: 0;
        padding-bottom: 0;
    }

    &#{&}--desktop {
        @include media-breakpoint-down(md) {
            height: auto;
        }    
    }
}

.owl-carousel {
    z-index: auto !important;
    
    &--full-height {
    	height: 100%;
    	position: relative;
    	
    	div:not(.owl-controls) {
    		height: 100%;
    	}
    	
    	.owl-dots {
        	display: none;
    	}
    	
    	.owl-slide {
    		background-repeat: no-repeat;
    		background-size: cover;
    		background-position: center;
    	}
    	
    	.owl--text {
        	@include shadow-text();
    		position: absolute;
    		top: 0;
    		left: 0;
    		width: 100%;
    		height: 100%;
    	}
    	
    	.owl-controls {
    		position: absolute;
    		top: 50%;
    		left: 0;
    		right: 0;
    		
    		.owl-buttons {
    			
    			.owl-prev {
    				left: 5px;
    			}
    			
    			.owl-next {
    				right: 5px;
    			}
    		}
    	}
    }
}

.number-animated {
    @include numbers-uppercase();
    @include media-breakpoint-up(sm) {
        @include title2();
    }    
    @include media-breakpoint-up(lg) {
        @include title1();
    }    
    display: block;
    font-weight: bolder;
}

.slider {
    padding-top: 0;
    padding-bottom: 0;
}