<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-2">
                <h3 class="title3 title3--space title3">
                    <img src="/build/static/images/yourneeds-logo-color.png" class="logo">
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-4">
                <h4 class="title4 title4--space">Über YOURneeds</h4>

                <p>
                    <a href="{{ path('page_privacypolicy') }}">Datenschutz</a><br>
                    <a href="{{ path('page_privacypolicy') }}#cookies">Cookies</a>
                </p>
            </div>
            <div class="col-6 col-sm-4">
                <h4 class="title4 title4--space">Rechtliches</h4>

                <p>
                    <a href="{{ path('page_imprint') }}">Impressum</a><br>
                    <a href="/documents/erstinformation_yourneeds.pdf" target="_blank">
                        Erstinformation</a>
                    <br>
                    <a href="{{ path('page_ombudsman') }}">Ombudsman</a>
                </p>
            </div>
            <div class="col-12 col-sm-4 mt-3 mt-sm-0 text-right d-flex justify-content-between">
                <a href="https://twitter.com/checkyourneeds" target="_blank" rel="noopener noreferrer"
                   class="title2 color-green no-hover-underline">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.youtube.com/channel/UC_136AJ_yfppP1HjaXiIzEw?disable_polymer=true" target="_blank"
                   rel="noopener noreferrer" class="title2 color-green no-hover-underline">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://www.instagram.com/yourneedsgmbh/" target="_blank" rel="noopener noreferrer"
                   class="title2 color-green no-hover-underline">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer> 
