// Modules
@import "variables";

.title1 {
  @include title1();
  @include media-breakpoint-down(xs) {
    font-size: $yn-font-size-xlarge;
    line-height: $yn-line-height-xlarge;
  }
  width: 100%;

  &#{&}--space {
    margin-bottom: $yn-font-size-xxlarge;
  }

  &#{&}--image {
    @include shadow-text();
    color: $yn-color-white;
  }
}

.title2 {
  @include title2();
  @include media-breakpoint-down(xs) {
    font-size: $yn-font-size-large;
  }
  width: 100%;

  &#{&}--space {
    margin-top: $yn-line-height-xlarge;
    margin-bottom: round($yn-font-size-xlarge * 1.125);
  }
}

.title3 {
  font-size: $yn-font-size-large;
  font-weight: 700;
  line-height: round($yn-font-size-large * 1.75);
  width: 100%;

  &#{&}--space {
    margin-top: round($yn-font-size-large * 1.75 / 2);
    margin-bottom: round($yn-font-size-large * 1.75 / 4);
  }
}

.title4 {
  font-weight: 700;

  &#{&}--space {
    margin-top: round($yn-font-size);
    margin-bottom: round($yn-font-size);
  }
}

.btn {
  @include btn();
}

.text-icon {
  font-size: $yn-font-size-xxlarge;
  color: $yn-color-green;
}

.logo {
  @include shadow-svg();
}

.color-white {
  color: $yn-color-white;
}

.color-green {
  color: $yn-color-green;
}

.color-grey {
  color: $yn-color-grey-3;
}

.color-brown {
  color: $yn-color-brown;
}

.bold {
  font-weight: bolder;
}

.vertical-align-middle {
  display: flex;
  align-items: center;

  &.text-right > * {
    margin-left: auto;
  }
}

.logo-link {
  &:hover {
    text-decoration: none;
    border: none;
  }
}

.mobilemenu {
  @include transition();
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparentize($yn-color-white, .25);
  z-index: 1000;
  padding: $yn-unit-400;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  pointer-events: none;

  &.open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    pointer-events: all;

    & ~ header,
    & ~ section,
    & ~ footer {
      @include blur();
      pointer-events: none;
    }
  }

  a {
    display: block;
  }

  .close {
    position: absolute;
    top: $yn-unit-400;
    right: $yn-unit-400;
  }
}

.no-hover-underline {
  &:hover {
    border-bottom-color: transparent;
  }
}

.font-small {
  font-size: $yn-font-size-small;
  line-height: $yn-line-height-small;
}

.row.row-eq-height {
  & > [class*='col-'] {
    display: flex;
  }
}

.border {
  @include edges-round();
}

.yourneeds-font {
  font-family: "yourneeds";
  position: relative;
  top: .1em;
}

.border-hover {
  &:hover {
    border-color: $yn-color-green !important;
  }

  &.disabled:hover,
  .disabled &:hover {
    border-color: transparent !important;
  }
}

.btn-group {
  button {
    padding-top: 0 !important;
  }
}

.progress {
  height: auto;
  border-radius: 0;
}

.form-control {
  height: auto;
  font-size: inherit;
}

.square {
  position: relative;
  width: 100%;
  text-align: left;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  & > * {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.popover {
  @include edges-round();
  @include shadow-box();
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.full-width {
  width: 100%;
}

img.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item {
  @include edges-round();
  @include transition();
  height: 100%;
  width: 100%;
  background-color: $yn-color-white;
  border: 1px solid transparent;
  position: relative;
  overflow: hidden;

  &:hover {
    border-color: $yn-color-green;

    & .image-container img {
      transform: scale(1.2);
    }

    .disabled & .image-container img,
    &.disabled .image-container img {
      transform: none;
    }
  }

  &.pb-huge {
    padding-bottom: 5rem !important;
  }

  &.disabled,
  .disabled & {
    color: $yn-color-grey-3;

    &:hover {
      border-color: transparent;
    }
  }

  .image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;

    img {
      @include transition();
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & > .image-container:first-child {
    @include edges-round();
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    img {
      @include edges-round();
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  & &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.item.active {
  border: 2px solid $yn-color-green;

  &:hover {
    border-color: $yn-color-green;
  }

  img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.item.inactive {
  border: 2px solid $yn-color-red;

  &:hover {
    border-color: $yn-color-red;
  }

  img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.banner {
  height: 250px;
}

.table {
  @include edges-round();
  background-color: $yn-color-white;
}

.th-inner {
  @include media-breakpoint-down(xs) {
    padding: 0 !important;
  }
}

.mobilerow {
  @include shadow-box();
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  padding: $yn-unit-250;
  font-size: 2em;
  color: $yn-color-black;
  display: none;
  @include media-breakpoint-down(xs) {
    display: table;
  }

  a {
    display: table-cell;
    text-align: center;

    &:hover {
      border: 0;
    }
  }
}

header {
  position: fixed;
  top: 0;
  height: 30px;
  background: transparent;
  padding-top: 3px;
  font-size: 18px;
}

@media (max-width: 767px) {
  header {
    font-size: 12px;
  }
}