/*================================================
  >> PROFILE
  ================================================*/
.card-wrapper {
   width: 100%;
   height: auto;
}

.point {
   background-color: #585858;
   width: 10px;
   height: 10px;
   margin: auto;
   -moz-border-radius: 6px; /*Firefox*/
   -webkit-border-radius: 6px; /*Safari, Chrome*/
   border-radius: 6px;
   border: solid 2px #9a9a9a;
   z-index: 100;
   -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
   filter: progid:DXImageTransform.Microsoft.Shadow(
         Strength=1,
         Direction=180,
         Color=#c5c4c4
   ); /*IE 5.5-7*/
}

.line {
   border-top: solid 1px #707070;
   width: 110px;
   margin-top: 24px;
   z-index: -1;
   -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
   filter: progid:DXImageTransform.Microsoft.Shadow(
         Strength=1,
         Direction=0,
         Color=#c5c4c4
   ); /*IE 5.5-7*/
}

.line-left {
   margin-left: 70px;
   -moz-transform: rotate(149deg) scale(1, 1) skewX(0deg) skewY(0deg) translate(0px, 0px); /* FF3.5+ */
   -webkit-transform: rotate(149deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px); /*Saf3.1+, Chrome*/
   -o-transform: rotate(149deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px); /* Opera 10.5 */
   -ms-transform: rotate(149deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px); /* IE 9 */
   transform: rotate(149deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);
}

.line-right {
   float: right;
   margin-right: 70px;
   margin-top: -1px;
   -moz-transform: rotate(31deg) scale(1, 1) skewX(0deg) skewY(0deg) translate(0px, 0px); /* FF3.5+ */
   -webkit-transform: rotate(31deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px); /*Saf3.1+, Chrome*/
   -o-transform: rotate(31deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px); /* Opera 10.5 */
   -ms-transform: rotate(31deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px); /* IE 9 */
   transform: rotate(31deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);
}

.detail-card {
   text-align: left;
   width: 370px;
   margin: 28px auto;
   background-color: #fff;
   -moz-border-radius: 6px; /*Firefox*/
   -webkit-border-radius: 6px; /*Safari, Chrome*/
   border-radius: 6px;
   -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color=#d2d2d2)"; /*IE 8*/
   -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
   filter: progid:DXImageTransform.Microsoft.Shadow(
         Strength=3,
         Direction=180,
         Color=#d2d2d2
   ); /*IE 5.5-7*/
   border-bottom: solid 2px #b1b1b1;
   border-top: solid 1px #b1b1b1;
   border-right: solid 1px #b1b1b1;
   border-left: solid 1px #b1b1b1;
}

.detail {
   width: 345px;
   margin: 9px auto;
}

.list-profile-image {
   width: 50px;
   height: 50px;
   overflow: hidden;
}

.list-profil-image img {
   width: 45px;
   height: auto;
}

.profil-image {
   width: 90px;
   height: 90px;
   overflow: hidden;
}

.profil-image img {
   width: 90px;
   height: auto;
}

.logo-image img {
   width: 120px;
   height: auto;
}

.detail-card h5 {
   font-style: italic;
   padding: 3px 0 3px 0;
}

.btn-spacer {
   width: 345px;
   border-top: solid 1px #b1b1b1;
   margin: 5px 25px 10px 15px;
}

.detail-card ul li {
   display: inline;
   margin-right: 6px;
}

.detail-card ul li a {
   color: #fff;
   display: inline-block;
   padding-top: 6px;
   padding-bottom: 6px;
   background-color: #dedede;
   -moz-border-radius: 6px; /*Firefox*/
   -webkit-border-radius: 6px; /*Safari, Chrome*/
   border-radius: 6px;
   width: 30px;
   text-align: center;
}

.detail-card ul li a:hover {
   background-color: #b1b1b1;
}

.message {
   color: #707070;
   font-size: 14px;
}

/*================================================
  >> PAGES
  ================================================*/
/*====================================
  >>> ADMIN USER PROFILE
  ====================================*/
#admin-overview .special-table .fixed-table-toolbar .pull-left {
   width: 25%;
}

#admin-overview .special-table .fixed-table-toolbar .pull-left .updated h5 {
   padding-right: 10px;
}

#admin-overview .special-table.sub .fixed-table-toolbar,
#admin-detail .special-table.sub .fixed-table-toolbar {
   display: none;
}

#admin-overview .special-table .toolbar,
#admin-detail .special-table .toolbar {
   padding: 10px 10px 5px 20px;
   background: #44a17d;
   background: -moz-radial-gradient(center, ellipse cover, #44a17d 0%, #0086b3 100%);
   /* FF3.6+ */
   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #44a17d), color-stop(100%, #0086b3));
   /* Chrome,Safari4+ */
   background: -webkit-radial-gradient(center, ellipse cover, #44a17d 0%, #0086b3 100%);
   /* Chrome10+,Safari5.1+ */
   background: -o-radial-gradient(center, ellipse cover, #44a17d 0%, #0086b3 100%);
   /* Opera 12+ */
   background: -ms-radial-gradient(center, ellipse cover, #44a17d 0%, #0086b3 100%);
   /* IE10+ */
   background: radial-gradient(ellipse at center, #44a17d 0%, 0086 b3 100%);
   /* W3C */
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   height: 30px;
   color: #ffffff;
}

#admin-overview .achievement-image {
   width: 120px;
   text-align: center;
}

#admin-overview .achievement-image img {
   width: 75px;
   height: 75px;
}

#admin-overview .missing {
   color: #cc0000;
}

/*
.form-button-spacer-md {
  height: 200px;
}
*/
/*================================================
  >> TARIFF LIST - TABS NAVIGATION
  ================================================*/
.tabs {
   -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
   border: 1px solid #e3e5e7;
   background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f4f5f5));
   background: -moz-linear-gradient(top, #ffffff 0%, #f4f5f5 100%);
   background: -webkit-linear-gradient(top, #ffffff 0%, #f4f5f5 100%);
   background: linear-gradient(to bottom, #ffffff 0%, #f4f5f5 100%);
   display: table;
   line-height: 30px;
   width: 100%;
   margin: 5px 0 5px 0;
   border-radius: 6px;
   color: #424242;
   font-size: 11px;
}

.tabs:after {
   content: "";
   display: block;
   width: 100%;
   clear: both;
}

.tabs ul {
   list-style: none;
   display: table-row;
}

.tabs ul li {
   display: table-cell;
   width: 1%;
}

.tabs ul li a {
   font-weight: 700;
   white-space: nowrap;
   text-overflow: ellipsis;
   -moz-transition: all 0.15s ease;
   -o-transition: all 0.15s ease;
   -webkit-transition: all 0.15s ease;
   transition: all 0.15s ease;
   display: block;
   text-align: center;
   text-transform: capitalize;
   height: 3.25em;
   text-decoration: none;
   min-width: 5em;
   max-width: 20em;
   margin: 0 auto;
   color: #cccccc;
}

.tabs ul li a:hover {
   color: #363a3f;
   border-bottom: 0.25em solid #d0d3d7;
}

.tabs ul li a.active {
   position: relative;
   color: #4e535a;
   border-bottom: 0.25em solid #4e9fdd;
   background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(70%, rgba(255, 255, 255, 0)), color-stop(100%, #d7e9f7));
   background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 70%, #d7e9f7 100%);
   background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 70%, #d7e9f7 100%);
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, #d7e9f7 100%);
}

.tabs ul li a.active:after {
   content: "";
   display: block;
   border-color: #0086b3 transparent;
   border-width: .75em .75em 0 .75em;
   border-style: solid;
   width: 0;
   height: 0;
   position: absolute;
   bottom: -.75em;
   left: 50%;
   margin-left: -.75em;
   z-index: 1;
}

.status .label {
   font-weight: 600;
   font-size: 12px;
   margin-bottom: 2px;
}

.logo img {
   width: 75px;
   height: auto;
   padding: 5px;
}
